*{
  box-sizing: border-box;
  background-color: rgba(118, 147, 228, 0.993);
}

form {
  display: flex;
  align-content: center;
  justify-content: center;
}

form input {
  width: 500px;
    height: 60px;
    margin: 40px;
    font-size: 25px;
    border: none;
    background-color: rgba(163, 186, 250, 0.993);
    border-radius: 50px;
    padding: 20px;
    outline: none;
}

img {
  width: 60px;
  height: 60px;
  align-items: center;
}



